@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background-color:  hsl(185, 75%, 39% );
    font-size: 18px;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 20px;

}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*Important!*/
    position: relative;
}

.card-container img {
    width: 100px; /* Initial size of the SVGs */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Positioning the SVGs */
    overflow: hidden; /* Hide any overflowing parts */
}

.circle-top-left {
    top: -25px; /* Move it up, adjust as needed */
    left: -25px; /* Move it to the left, adjust as needed */
}

.circle-bottom {
    bottom: -25px; /* Move it down */
    left: -25px; /* Move it to the left, adjust as needed */
}

.card{
    max-width: 350px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    z-index: 1000;
}

.card .card-header img{
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}

.card .card-content img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 4px solid white;
    margin-top: -48px;
}

.card-content h2 {
    font-size: 22px;
    margin: 16px 0 8px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.card-content span{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.card-content p{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.card-stats {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    border-top: 1px solid hsl(0, 0%, 59%);
}

.card-stats h3{
    color: hsl(229, 23%, 23%);
}

.card-stats span{
    color: hsl(0, 0%, 59%);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.3px;
}

@media screen and (width: 320px) {
    .card {
        max-width: 90%; 
        width: 100%;
    }
}

